# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next/
build
dist/

# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment
.env
.env*.local
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
.vscode/
.idea/

# Tauri
apps/web/src-tauri/target/
apps/web/src-tauri/gen/android/app/build/
apps/web/src-tauri/gen/android/.gradle/
apps/web/src-tauri/gen/android/local.properties

# Turbo
.turbo

# Supabase
.branches
.temp
supabase/.branches
supabase/.temp
